body {
  font-family: 'Indie Flower', cursive;
  color: #75888C;
  background-color: #0C090A
}

body a {
  color: #8C7A76;
}


.blog-heading {
  background-image: url("http://placekitten.com/960/250");
  height: 250px;
}

.blog-social-links {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.blog-showcase {
  width:98%;
  height:100px;
  background:#25383C;
  float:left;
  margin:2px;
}

.project-showcase {
  width:44%;
  height:100px;
  background:#3D2A26;
  float:left;
  margin:2px;
}

.rotated-banner {
  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

