body {
  font-family: 'Indie Flower', cursive;
  color: #75888C;
  background-color: #222;
}

body a {
  color: #0C090A;
}

.container {
  border: 1px solid #666;
  background-color: #FFDAB9;
}

.navbar-container {
  background-color: #E57255; 
}



.blog-heading {
  background-image: url("http://placekitten.com/960/250");
  height: 250px;
}

.blog-social-links {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.showcase {
  width:32%;
  height:100px;
  background:#ddd;
  float:left;
  margin:1px;
}

.rotated-banner {
  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.footer-container {
  background-color: #E57255; 
}

25383C, 3D2A26

.flex-container {
  display: flex;
  flex-flow: column wrap;
}

.flex-container > :nth-child(3n + 1) { order: 1; } /* 1st column */
.flex-container > :nth-child(3n + 2) { order: 2; } /* 2nd column */
.flex-container > :nth-child(3n + 3) { order: 3; } /* 3rd column */

.flex-container > :nth-child(-n + 3) {
  page-break-before: always; /* CSS 2.1 syntax */
  break-before: always;  /* New syntax */
}

/* The following is optional */
.flex-container > div {
  background-color: #FFDAB9;
  
  color: #fff;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 99%;  
}
