body {
  font-family: 'Indie Flower', cursive;
}

.blog-heading {
  background-image: url("http://placekitten.com/960/250");
  height: 250px;
}

.blog-social-links {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.blog-showcase {

}

.project-showcase {

}

.blog-date {
  font-style: underline !important;
}

.rotated-banner {
  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}